# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_port:       25
    mailer_user:       ~
    mailer_password:   ~

    # jms settings
    # accepted values: yes, no, none
    jms_debug_override: none

    # A secret key that's used to generate certain security-related tokens
    secret:            rahi2016$jBrGjMdNcRfAeG@s270api
