parameters:
    # api
    database.api.host:  localhost
    database.api.port:  ~
    database.api.name:  lottery
    database.api.user:  apidev
    database.api.password:  apidev
    # api archive
    database.api_archive.host: localhost
    database.api_archive.port: ~
    database.api_archive.name: lottery_archive
    database.api_archive.user: apidev
    database.api_archive.password: apidev
    # for SwiftMailer
    mailer_transport: smtp
    mailer_host: localhost
    mailer_port: 1025
    mailer_user: null
    mailer_password: null
    use_mailcatcher: true
    # misc
    email_sender:   noreply@rahi.lottery.com
    jms_debug_override: none
    secret: rahi2016$jBrGjMdNcRfAeG@s270api
